<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="icon" type="image/x-icon" href="~/beer_icon.ico">
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="d-inline-block nav navbar-nav">
                    <li class="list-inline-item"><a href="~/Home/Index" class="navbar-brand">Home</a></li>
                    <li class="list-inline-item"><a href="~/Product/Beers" class="navbar-brand">Beers</a></li>
                    <li class="list-inline-item"><a href="~/Product/Create" class="navbar-brand">Add</a></li>
                    <li class="list-inline-item"><a href="~/User/Users" class="navbar-brand">Users</a></li>
                    <li class="list-inline-item"><a href="~/User/Register" class="navbar-brand">Register</a></li>
                    <li class="list-inline-item"><a href="~/Auth/Logout" class="navbar-brand">Log out</a></li>
                </ul>
            </div>            
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2020 - BeerStore</p>
        </footer>
    </div>
</body>
</html>